body {
    background-color: bisque;
}

h1, h2, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: lager;
    color: gray;
}

h2 {
    font-size: medium;
    color: blue;
}