body {
    background-color: bisque;
}

h1, h2, h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: lager;
    color: gray;
}

h2 {
    font-size: medium;
    color: blue;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: auto;
    height: 300px;
}

.recipe.item {
    margin: 15px 15px 15px 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: solid lightgray 2px;
    border-radius: 15px;
    background-color: grey;
    box-shadow: 2px;
    width: 300px;
    list-style-type: none;

}

.recipe.title {
    font-size:larger;
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    text-align: center;      
}

.recipe.subtitle {
    font-size: medium;
    font-weight: 600;
    color: white;
    text-align: center;
}